*
{
  text-rendering: optimizeLegibility;
  font-smoothing: antialiased;
}

html { box-sizing: border-box; }
*, *:before, *:after {
  box-sizing: inherit;
}

body, html
{
	height: 100%;
	width: 100%;
	min-height: 100%;
	min-width: 100%;
}

body
{
	font-family: 'Space Mono', monospace;
	font-size: 32px;
	padding: 2rem;
}

h1
{
	font-size: 255%;
  line-height: 135%;
	margin-bottom: 2rem;
	color: gainsboro;
	color: red;
}

@media screen and (max-width:800px) {
	h1 { font-size: 130%; }
}

h1 a
{
	color: blue;
	display: inline-block;
	border: 1px solid blue;
}

h1 a:hover
{
	background-color: blue;
	color: white;
}

h2
{
	text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 8px;
  font-size: larger;
  font-style: italic;
  color: black;
  font-size: 130%;
  padding: 5rem 0;
}

h3
{
	font-size: 150%;
	text-decoration: overline;
	text-align: center;
	line-height: 115%;
	color: red;
	margin-bottom: 3rem;
	word-wrap: break-word;
}

h3 .meta
{
    font-size: 40%;
    text-decoration: overline;
    color: black;
    position: absolute;
    margin-left: 20px;
    margin-top: -20px;
}

a
{
	color: red;
	text-decoration: none;
}

p, li
{
	font-size: 60%;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	line-height: 180%;
}

p, ul
{
	margin-bottom: 3rem;
}

.controls
{
	display: inline-block;
	position: relative;
	z-index: 1;
	background: rgba(255,255,255,0.8);
	padding: 4rem;
	// font-size: 85%;
}

input[type="radio"]
{
	margin-right: 1rem;
	display: inline-block;
}

.work
{
	text-align: center;
	margin-top: 5rem;
}

.work li
{
	display: inline-block;
	margin-top: -8%;
	max-width: 80%;
}

.work li:hover
{
	cursor: -webkit-grab;
	cursor: grab;
}

.work li:active
{
	cursor: -webkit-grabbing;
	cursor: grabbing;
}

.work li img { max-width: 100%; }
section
{
	margin: 0 0 10rem;
}
main
{
	margin: 5rem auto;
	max-width: 1160px;
}


footer
{
	position: fixed;
	z-index: 999;
	bottom: 0;
	padding: 1rem;
	width: 100%;
	// font-size: 50%;
}

footer ul
{
	display: flex;
	justify-content: space-around
}
footer li
{
	// float: left;
	// marign-left: 30%;
}
