// * { transition: max-width 0.3s ease-in-out; }
body
{
	font-family: 'Space Mono', monospace;
	font-size: 16px;
	
	color: dimgray;
}

h1
{
	font-size: 88%;
	margin-bottom: 2rem;
	color: gainsboro;
}

h3
{
	font-size: 365%;
	line-height: 115%;
	color: red;
	margin-bottom: 1rem;
}

a
{
	color: red;
	text-decoration: none;
}

p
{
	line-height: 150%;
	margin-bottom: 1rem;
}

.controls
{
	display: inline-block;
	position: relative;
	z-index: 10;
	background: rgba(255,255,255,0.8);
	padding: 4rem;
}

input[type="checkbox"]
{
	margin-right: 1rem;
	display: inline-block;
}

li
{
	margin-bottom: 1rem;
}

[data-slides]
{
	position: absolute;
	top: 0;
	left: 0;	
}
[data-slide]:hover
{
	cursor: -webkit-grab;
	cursor: grab;
}

[data-slide]:active
{
	cursor: -webkit-grabbing;
	cursor: grabbing;
}

.content
{
	width: 500px;
	background: white;
}

// .content.is-pointer-down
// {
// 	font-size: 125%;
// 	width: 700px;
// }



[data-slides] > li { display: none; }
[data-slides] li
{
	position: absolute;
	// max-width: 300px;
}

.content a { display: block; }
.content li { position: relative; }

[data-slides] li.active  { display: inline-block; }

img
{
	max-width: 300px; 
}

.is-pointer-down img{ max-width: none; }