// * { transition: max-width 0.3s ease-in-out; }
body
{
	font-family: 'Space Mono', monospace;
	font-size: 16px;
	
	color: dimgray;
}

h1
{
	font-size: 88%;
	margin-bottom: 2rem;
	color: gainsboro;
}

h3
{
	font-size: 122%;
	color: red;
	margin-bottom: 2rem;
}

a
{
	color: red;
	text-decoration: none;
}

p
{
	line-height: 150%;
	margin-bottom: 1rem;
}

.controls
{
	display: inline-block;
	position: relative;
	z-index: 10;
	background: rgba(255,255,255,0.8);
	padding: 4rem;
}

input[type="checkbox"]
{
	margin-right: 1rem;
	display: inline-block;
}

li
{
	margin-bottom: 1rem;
}

[data-slides]
{
	position: absolute;
	top: 0;
	left: 0;
}

[data-slides] > li { display: none; }
[data-slides] li
{
	position: absolute;
	max-width: 300px;
}

[data-slides] li.active  { display: inline-block; }

img
{
	max-width: 350px; 
}

.is-pointer-down img{ max-width: none; }